.container{
    background-color: lightgreen;
    width: 100%;
    height: 98%;
    display:flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: wrap;
    border-radius: 1rem;
}
.card{ 
    margin-left: 2rem;
    margin-right: 2rem;
    width: 10rem;
    height: 20rem;
    background-color: white;
}

